

.noteworthy-equation div.MathJax_Display {
  border: 10px solid #efd650;
  padding: 15px;
  margin: 25px;
  width: inherit;
}

.category-header, .tags-header {
  color: #555;
}

ul.list-of-tags {
  list-style: inherit;
  margin: inherit;
  overflow: inherit;
  padding: 0 0 0 25px;
  margin: 0;
}

a.category-link {
  color: #3875d7;
  background: #EEE;
  border-radius: 3px;
  margin: 2px;
  padding: 3px 6px;
}

.list-of-tags li {
  line-height: inherit;
}

.list-of-tags li a {
  color: #3875d7;
}

span.normal-font-color {
  color: #222;
}

div.youtube-16x9-640 {
  width: 640px;
  margin: 0px auto;
}

div.youtube-16x9-640 iframe{
  width: 640px;
  height: 360px;
}

.article-content p a {
  color: #3875d7 !important;
  border-bottom: none !important;
}

/*
CSS for Images
*/

.img-center-92 {
  width: 92%;
  display: block;
  margin: 0px auto;
}

.img-width-400 {
  width: 400px;
  display: block;
  margin: 0px auto;
}

.img-width-400 img {
  width: 400px;
}

.img-width-600 {
  width: 600px;
  display: block;
  margin: 0px auto;
}

.img-width-600 img {
  width: 600px;
}
